10265-09/005-ConsomeWCF/Service References/ProxyContact/ContactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13717/ContactService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13717/ContactService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13717/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_004_WCF" />
      <xsd:import schemaLocation="http://localhost:13717/ContactService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:13717/ContactService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContact_GetFirst10_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirst10" />
  </wsdl:message>
  <wsdl:message name="IContact_GetFirst10_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirst10Response" />
  </wsdl:message>
  <wsdl:message name="IContact_GetByContactId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByContactId" />
  </wsdl:message>
  <wsdl:message name="IContact_GetByContactId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByContactIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IContact">
    <wsdl:operation name="GetFirst10">
      <wsdl:input wsaw:Action="http://tempuri.org/IContact/GetFirst10" message="tns:IContact_GetFirst10_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContact/GetFirst10Response" message="tns:IContact_GetFirst10_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByContactId">
      <wsdl:input wsaw:Action="http://tempuri.org/IContact/GetByContactId" message="tns:IContact_GetByContactId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContact/GetByContactIdResponse" message="tns:IContact_GetByContactId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpEndpoint" type="tns:IContact">
    <wsp:PolicyReference URI="#BasicHttpEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFirst10">
      <soap:operation soapAction="http://tempuri.org/IContact/GetFirst10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByContactId">
      <soap:operation soapAction="http://tempuri.org/IContact/GetByContactId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactService">
    <wsdl:port name="BasicHttpEndpoint" binding="tns:BasicHttpEndpoint">
      <soap:address location="http://localhost:13717/ContactService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>